.spinnerdiv{
  width:50px;
  margin:100px auto;
}
.center-spinner{
  width:120px;
  margin-left:-60px;
}
.btn{
  margin-right:20px !important;
}
#toast-container{
  border-radius:100px !important;
  top:105px !important;
  left:70% !important;
}
.round{
  border-radius:5px;
  opacity:0.7;
  width:310px;
}

@media(max-width:948px){
  #toast-container{
    top:105px !important;
    left:10% !important;

  }
  
}



